<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Report Generation</title>
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">  <!-- Load Styles -->
  <link rel="stylesheet" href="static/css/styles.css">
  </head>

<body>
    <main>
      <header class="main__hero">
        <h1>Report Generaton </h1>
      </header>
      <section id="section1" data-nav="Section 1" class="your-active-class">
        <div class="landing__container">
          <h2> Upload your Audio</h2>
          <form action="" method="post" enctype="multipart/form-data">
          <input type="file" name="files" id="upload">
          <input type="submit">
          </form>
          <audio id="audio" controls >
            <source src="" id="src" />
          </audio>
          <p>File name: {{ file_name }}</p>
          <p>Text of the Audio file: {{Transcription}}</p>
<!--           <button type="button" id="button">Generate PDF Report!</button> -->
        </div>
      </section> 
    </main>
    <script src="js/app.js"></script>
  </body>
  </html>
